<!DOCTYPE html>
<html>
<head>
<style>
body {
background-color:white;

}

h1 {
color: blue;
text-align:center;
font-size: 30px;
}

h2 {
color: orangered;
text-align:center;
font-size:40px;

}

h3 {
color: black;
text-align:center;
font-size:20px;

}
</style>

</head>
<body>
<h2>The Top Winners</h2>
<br>
<h1>Senior Category</h1>
<h3>Song Yang Xi</h3>
<h3>Pang Chen Chen</h3>
<h3>Fanny Chow</h3>
<h1>Junior Category</h1>
<h3>Jonny Wick</h3>
<h3>Ben Chong</h3>
<h3>Kong Boo Joo</h3>
<h1>We congratulate all the winners!</h1>


</body>
</html>